body {
    background-image: url("/assets/pictures/0434cdb812e67d30f5_windows_xp_bliss-wide.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

table, thead, td {
    border: 1px solid;
    user-select: none;
    border-collapse: collapse;
}

tbody td {
    width: 50px;
    height: 50px;
    background-color: white;
}

#player-select {
    width: 100%;
}

#player-select thead {
    background-color: lightgray;
}